{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<div class="container" style="margin-left: 25%;">
<form
  class="row g-3 needs-validation mt-4 "
  method="POST"
  action="/trackingInfo"
  
>
  <div class="form-row  ">
  <div class="col-6 col-sm-6">
  <div class="form-floating mb-3 ml-50% ">

    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="First Name"
      name="first_name"
      required
    />
    <label for="floatingInput">First Name</label>
  </div>
  </div>
</div>

<div class="form-row ">
<div class="col-6 col-sm-6 h-25">
  <div class="form-floating mb-3">

    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Last Name"
      name="last_name"
      required
    />
    <label for="floatingInput">Last Name</label>
  </div>
  </div>
</div>

<div class="form-row ">
<div class="col-6 col-sm-6">
  <div class="form-floating mb-3">

    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Service Number"
      name="service_num"
      required
    />
    <label for="floatingInput">Service Number</label>
  </div>
</div>
</div>

<div class="form-row ">
<div class="col-6 col-sm-6 mb-3">
   <select
      class="form-select Base form-select"
      aria-label=".form-select-sm example"
      name="base"
    >
      <option selected >Base</option>
      {{#each rows}}
        <option value="{{this.id}} {{this.base_name}}">
           {{this.base_name}}</option>

      {{/each}}
    </select>
</div>
<div class="form-row ">
</div>
<div class="col-6 col-sm-6 mb-3">
   <select
      class="form-select Base form-select"
      aria-label=".form-select-sm example"
      name="course"
    >
      <option selected >Course</option>
      {{#each row}}
        <option value="{{this.course_id}} {{this.course_name}}">
           {{this.course_name}}</option>

      {{/each}}
    </select>
    </div>


</div>

    <div class="col-6 col-sm-6 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
</div>
